<div class="container">
    <div class="lista">
        @for (notificacao of listaNotificacoes; track notificacao.id) {
            <div class="card">
                <h2>Teste</h2>
                <h5>id {{ notificacao.id }}</h5>
                <div class="conteudo-notificacao">
                    <p>sou uma notificacao</p>
                    <div class="acoes">
                        <p>Lida: Não</p>
                        <button class="marcar-como-lida">Marcar como lida</button>
                    </div>
                </div>
            </div>
        } @empty {
            <div>Não há notificações</div>
        }
        <div>
            <button [routerLink]="['/']">Ir para o cadastro</button>
        </div>
    </div>


</div>