<div class="container">
    <div class="lista">
        @for (notificacao of listaNotificacoes; track notificacao.id) {
            <div class="card">
                <h2>{{ notificacao.titulo }}</h2>
                <h5>id {{ notificacao.id }}</h5>
                <div class="conteudo-notificacao">
                    <p>{{ notificacao.descricao }}</p>
                    <div class="acoes">
                        <p>Lida: sim</p>
                    </div>
                </div>
            </div>
        } @empty {
            <div>Não há notificações</div>
        }
        <div>
            <button [routerLink]="['/']">Ir para o cadastro</button>
        </div>
    </div>


</div>