header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    
    position: absolute;
    background: #fff;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background: #c5c5c5;
}

h1 {
    margin-bottom: 1rem;
}

label {
    display: block;
}

form {
    background: #f1f1f1;
    padding: 2rem;
    border-radius: .2rem;

    box-shadow: 3px 2px 5px #4b4b4b85;

    min-width: 350px;
    max-width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

input {
    border-radius: .2rem;
    border: none;
    padding: .5rem;
    width: 100%;
}

button {
    background: none;
    border: none;
    padding: .5rem;
    border-radius: .2rem;

    cursor: pointer;
}

.cadastro {
    margin-block: 1rem;
    background-color: #4ac270;
    color: white;
}